footer {
}
//====================================================================================================
.footer {
    background-color: #1c242a;
    padding: 45px 0px;
    &__content {
        display: flex;
        @media (max-width: 767px) {
            display: block;
            text-align: center;
        }
    }

    &__column {
        &_full {
            flex: 1 1 auto;
        }
        &:first-child {
            flex: 0 0 180px;
        }
    }

    &__logo {
        display: inline-block;
        margin: 0px 0px 25px 0px;
        width: 140px;
        height: 35px;
        @media (max-width: 767px) {
            margin: 0;
        }
    }

    &__info {
        color: #bb9c66;
        font-size: 15px;
        @media (max-width: 767px) {
            margin: 0px 0px 25px 0px;
        }
    }

    &__menu {
        padding: 0px 20px;
        @media (max-width: 767px) {
            margin: 0px 0px 20px 0px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        li {
            margin: 15px 15px 0px 0px;
        }
        @media (max-width: 766px) {
            justify-content: center;
            margin: 15px 7px 0px 7px;
        }
    }

    &__limk {
        font-family: "pfdin";
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        @media (min-width: 992px) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__contacts {
        text-align: right;
        padding: 12px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @media (max-width: 767px) {
            text-align: center;
            align-items: center;
        }
    }
    &__phone {
        white-space: nowrap;
        display: flex;
        align-items: flex-start;
        font-family: "BravoRGRegula";
        font-size: 50px;
        color: #bb9c66;
        small {
            font-size: 25px;
            margin: 2px 5px 0px 0px;
        }
        @media (max-width: 991px) {
            font-size: 40px;
            small {
                font-size: 20px;
            }
        }
    }

    &__callback {
        color: #bb9c66;
        background: url("../img/footer/callback.png") left no-repeat;
        padding: 0px 0px 0px 12px;
        span {
            border-bottom: 1px dashed;
            padding: 10px 0px 0px 0px;
        }
    }
}

//====================================================================================================
